<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>List of all books</title>
	<style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
	<div class="container my-2">
		<div class="book">
			<div class="book-body">
				<div th:switch="${books}" class="container my-5">
					<p class="my-5">
						<a href="/Add_Book" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2">Добавить книгу</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">Книги отсутствуют!!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md" border = "2">
								<thead>
									<tr>
										<th>ID</th>
										<th>Жанр</th>
										<th>Автор</th>
										<th>Название</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="book : ${books}">
										<td th:text="${book.bookID}">10000</td>
										<td th:text="${book.genre.name}">Novel</td>
										<td th:text="${book.author.name}">Mark Twain</td>
										<td th:text="${book.title}">Tom Sawyer</td>
										<td>
											<a href="#" th:text="${book.bookID}" th:href="@{/books/update/{id}(id=${book.bookID})}">Редактировать</a>
										</td>
										<td>
											<a href="#" th:text="${book.bookID}" th:href="@{/books/delete/{id}(id=${book.bookID})}">Удалить</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>